<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Produk</title>
    <link rel="icon" href="src/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="produk.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  </head>

  <body class="bg-dark">
    <!-- Navbar -->
    <header class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold text-primary" href="index.html">AMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-righ" id="navbarText">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="produk.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="aiphone.html">Aiphone</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Commax</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="software.html">Software</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="tentangkami.html">Tentang Kami</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <!-- Akhir Navbar -->
    <section class="project bg-dark" id="project">
      <div class="container mt-4">
        <div class="row text-center mb-5 text-light">
          <div class="col">
            <h2 class="text-light display-3 fw-bold">Produk <span class="text-primary">Commax</span></h2>
          </div>
        </div>
        <div class="row list">
          <!--  -->
          <div class="col-md-4 mb-3 item">
            <div class="img">
              <img src="src/gambar23.PNG" alt="" />
            </div>
            <div class="content">
              <h5 class="title text-light">Interface Control Proprietary Commax JNS series</h5>
              <button type="button" class="btn btn-primary btnDetail" data-tokopedia-link="https://tokopedia.link/8pmPUv43KCb">Selengkapnya</button>
            </div>
            <div class="d-none subjudul">
              <h2>Deskripsi Produk:</h2>
            </div>
            <div class="d-none deskripsi">
              <p>Update Terakhir : 21 / Jan / 2022</p>
            </div>
            <div class="d-none deskripsi2">
              <p>Min. Pembelian : 1 Unit</p>
            </div>
          </div>
          <div class="col-md-4 mb-3 item">
            <div class="img">
              <img src="src/gambar28.png" alt="" />
            </div>
            <div class="content">
              <h5 class="title text-light">Call Cord Switch CC-200</h5>
              <button type="button" class="btn btn-primary btnDetail" data-tokopedia-link="https://www.tokopedia.com/ams-indo">Selengkapnya</button>
            </div>
            <div class="d-none subjudul">
              <h2>Deskripsi Produk:</h2>
            </div>
            <div class="d-none deskripsi">
              <p>Power Source: From JNS-4CS Mount Type: Fixing clips on the bed Wiring Ports: 2 wires</p>
            </div>
            <div class="d-none deskripsi2">
              <p>Min. Pembelian : 1 Unit</p>
            </div>
          </div>
          <div class="col-md-4 mb-3 item">
            <div class="img">
              <img src="src/gambar30.png" alt="" />
            </div>
            <div class="content">
              <h5 class="title text-light">Analog Operating Room Unit JNS-12/24/36</h5>
              <button type="button" class="btn btn-primary btnDetail" data-tokopedia-link="https://www.tokopedia.com/ams-indo">Selengkapnya</button>
            </div>
            <div class="d-none subjudul">
              <h2>Deskripsi Produk:</h2>
            </div>
            <div class="d-none deskripsi">
              <p>Led status indication; Hand-set; Volume control enable; Channel select function; Desktop;</p>
            </div>
            <div class="d-none deskripsi2">
              <p>Power Source: ACC 220, 60Hz Mount Type: Desktop Wiring Ports: Common 2 wires + sperpate 12 wire including power Distance: 600mm(0.650) Dimension: 360(W) x 323(H) x 105(D)mm</p>
            </div>
          </div>
          <div class="col-md-4 mb-3 item">
            <div class="img">
              <img src="src/gambar31.png" alt="" />
            </div>
            <div class="content">
              <h5 class="title text-light">Corridor Ligth CL-302I+</h5>
              <button type="button" class="btn btn-primary btnDetail" data-tokopedia-link="https://www.tokopedia.link/SwOY0yyyJCb">Selengkapnya</button>
            </div>
            <div class="d-none subjudul">
              <h2>Deskripsi Produk:</h2>
            </div>
            <div class="d-none deskripsi">
              <p>Corridor Light Colour models (red, green, and blur) Led</p>
            </div>
            <div class="d-none deskripsi2">
              <p>Power source: From JNS-4CS/CNS-8CS Mount Type: Flush-mounterd type Wiring Ports: 3 wires Dimension: 118(W) x 118(H) x 73.1(D)mm</p>
            </div>
          </div>
          <div class="col-md-4 mb-3 item">
            <div class="img">
              <img src="src/gambar32.png" alt="" />
            </div>
            <div class="content">
              <h5 class="title text-light">Digital Main Nurse Station CNS-70MN</h5>
              <button type="button" class="btn btn-primary btnDetail" data-tokopedia-link="https://www.tokopedia.com/ams-indo">Selengkapnya</button>
            </div>
            <div class="d-none subjudul">
              <h2>Deskripsi Produk:</h2>
            </div>
            <div class="d-none deskripsi">
              <p>A simple memo funtion Grup Announcement function Hand-free function Instalation Flexibility (Desktop/Wall Mounted Type)</p>
            </div>
            <div class="d-none deskripsi2">
              <p>Power Source: From JNS-PSM Mount-Type: Desktop/Wall Mounted Type Wiring Ports: 8 wires Distance: 100mm(0.650) Dimension: 252(W) x 247(H) x 40(D)mm</p>
            </div>
          </div>
          <div class="col-md-4 mb-3 item">
            <div class="img">
              <img src="src/gambar33.png" alt="" />
            </div>
            <div class="content">
              <h5 class="title text-light">Digital Main Panel CNS-PSM</h5>
              <button type="button" class="btn btn-primary btnDetail" data-tokopedia-link="https://www.tokopedia.com/ams-indo">Selengkapnya</button>
            </div>
            <div class="d-none subjudul">
              <h2>Deskripsi Produk:</h2>
            </div>
            <div class="d-none deskripsi">
              <p>Power supply and signal relay Automatic UPS connection in case of a blackout</p>
            </div>
            <div class="d-none deskripsi2">
              <p>Power Source: AC 220-240V,60Hz Mount Type: Wall-Mounted Type Wiring Ports: Common 4 wires | 2 wiries separate Distance: 100mm(0.650) Dimations: 420(W) x 328(H) x 105(D)mm</p>
            </div>
          </div>
          <div class="col-md-4 mb-3 item">
            <div class="img">
              <img src="src/gambar34.png" alt="" />
            </div>
            <div class="content">
              <h5 class="title text-light">Digital Main Nurse Station CNS-70MN</h5>
              <button type="button" class="btn btn-primary btnDetail" data-tokopedia-link="https://www.tokopedia.com/ams-indo">Selengkapnya</button>
            </div>
            <div class="d-none subjudul">
              <h2>Deskripsi Produk:</h2>
            </div>
            <div class="d-none deskripsi">
              <p>A simple memo funtion Grup Announcement function Hand-free function Instalation Flexibility (Desktop/Wall Mounted Type)</p>
            </div>
            <div class="d-none deskripsi2">
              <p>Power Source: From JNS-PSM Mount-Type: Desktop/Wall Mounted Type Wiring Ports: 8 wires Distance: 100mm(0.650) Dimension: 252(W) x 247(H) x 40(D)mm</p>
            </div>
          </div>
          <div class="col-md-4 mb-3 item">
            <div class="img">
              <img src="src/gambar29.png" alt="" />
            </div>
            <div class="content">
              <h5 class="title text-light">Bed Distributor CNS-814LD</h5>
              <button type="button" class="btn btn-primary btnDetail" data-tokopedia-link="https://www.tokopedia.com/ams-indo">Selengkapnya</button>
            </div>
            <div class="d-none subjudul">
              <h2>Deskripsi Produk:</h2>
            </div>
            <div class="d-none deskripsi">
              <p>Connection to the slave phone in a hostpital room from master phone and and sub nursing phone Signal distribution for simulataneous calling</p>
            </div>
            <div class="d-none deskripsi2">
              <p>Power Source: DC 29V Mount-Type: Wall-Mounted Type Wiring Ports: Common 4 wires | 2 wiries separate Distance: 100mm(0.650) Dimension: 106(W) x 76(H) x 44(D)mm</p>
            </div>
          </div>
          <div class="col-md-4 mb-3 item">
            <div class="img">
              <img src="src/gambar35.png" alt="" />
            </div>
            <div class="content">
              <h5 class="title text-light">Emergency Switch ES-420</h5>
              <button type="button" class="btn btn-primary btnDetail" data-tokopedia-link="https://www.tokopedia.com/ams-indo">Selengkapnya</button>
            </div>
            <div class="d-none subjudul">
              <h2>Deskripsi Produk:</h2>
            </div>
            <div class="d-none deskripsi">
              <p>Emergency switch (restroom) , Waterproof</p>
            </div>
            <div class="d-none deskripsi2">
              <p>Power Source: From JNS-4CS Mount-Type: Flush-Mounted Type Wiring Ports: 2 wires Distance: 100mm(0.650) Dimension: 118(W) x 118(H) x 3(45)(D)mm</p>
            </div>
          </div>
          <div class="col-md-4 mb-3 item">
            <div class="img">
              <img src="src/gambar36.png" alt="" />
            </div>
            <div class="content">
              <h5 class="title text-light">Presence Switch PB-500</h5>
              <button type="button" class="btn btn-primary btnDetail" data-tokopedia-link="https://www.tokopedia.com/ams-indo">Selengkapnya</button>
            </div>
            <div class="d-none subjudul">
              <h2>Deskripsi Produk:</h2>
            </div>
            <div class="d-none deskripsi">
              <p>Precence Switch</p>
            </div>
            <div class="d-none deskripsi2">
              <p>Power Source: From JNS-4CS Mount-Type: Flush-Mounted Type Wiring Ports: 2 wires Distance: 100mm(0.650) Dimension: 118(W) x 118(H) x 3(45)(D)mm</p>
            </div>
          </div>
          <div class="col-md-4 mb-3 item">
            <div class="img">
              <img src="src/gambar37.png" alt="" />
            </div>
            <div class="content">
              <h5 class="title text-light">Emergency Switch ES-410</h5>
              <button type="button" class="btn btn-primary btnDetail" data-tokopedia-link="https://www.tokopedia.com/ams-indo">Selengkapnya</button>
            </div>
            <div class="d-none subjudul">
              <h2>Deskripsi Produk:</h2>
            </div>
            <div class="d-none deskripsi">
              <p>Emergency switch (restroom) , Waterproof , Flush-Mount Type</p>
            </div>
            <div class="d-none deskripsi2">
              <p>Power Source: From JNS-4CS Mount-Type: Flush-Mounted Type Wiring Ports: 2 wires Distance: 100mm(0.650) Dimension: 71(W) x 116(H) x 3(45)(D)mm</p>
            </div>
          </div>
          <div class="col-md-4 mb-3 item">
            <div class="img">
              <img src="src/gambar38.png" alt="" />
            </div>
            <div class="content">
              <h5 class="title text-light">Emergency Switch ES-400</h5>
              <button type="button" class="btn btn-primary btnDetail" data-tokopedia-link="https://www.tokopedia.com/ams-indo">Selengkapnya</button>
            </div>
            <div class="d-none subjudul">
              <h2>Deskripsi Produk:</h2>
            </div>
            <div class="d-none deskripsi">
              <p>Emergency switch (restroom) , Waterproof ,</p>
            </div>
            <div class="d-none deskripsi2">
              <p>Power Source: From JNS-4CS Mount-Type: Flush-Mounted Type Wiring Ports: 2 wires Distance: 100mm(0.650) Dimension: 71(W) x 116(H) x 3(45)(D)mm</p>
            </div>
          </div>
          <!--  -->
        </div>
      </div>
      <ul class="listPage"></ul>
    </section>
    <!-- Modal -->
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary d-none btnModal" data-bs-toggle="modal" data-bs-target="#exampleModal">Launch demo modal</button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 modalTitle" id="exampleModalLabel"></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body row">
            <div class="modalImage col-md-6 col-12"></div>
            <div class="col-md-6 col-12">
              <div class="modalSubjudul fw-bold mb-2"></div>
              <div class="modalDeskripsi mb-4"></div>
              <div class="modalDeskripsi2 mb-2"></div>
              <div class="d-md-flex justify-content-between align-items-center">
                <span class="text-primary fw-bold d-block">Harga:</span>
                <a href="" target="_blank" class="text-success text-decoration-none btnBeli"><i class="fab fa-whatsapp"></i> Chat Now</a>
                <a href="" target="_blank" class="text-success text-decoration-none btnPesan"><i class="fas fa-store"></i> Order Tokped</a>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <script src="javascript/script.js"></script>
  </body>
</html>
